# Port Configuration
VITE_FRONTEND_PORT=5173
BACKEND_PORT=8080

# Database Configurations
DB_URL=jdbc:mysql://db:3306/dairyfresh_db
DB_USER=dairyuser
DB_PASSWORD=dairypass
DB_ROOT_PASSWORD=rootpass1234


# Admin Setup
ADMIN_EMAIL=admin@dairyfresh.com
ADMIN_PASSWORD=admin123

# Firebase Config
FIREBASE_SERVICE_ACCOUNT_PATH=./firebase-service-account.json
VITE_FIREBASE_API_KEY=your-api-key
VITE_FIREBASE_AUTH_DOMAIN=your-project.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=your-project-id
VITE_FIREBASE_MESSAGING_SENDER_ID=your-sender-id
VITE_FIREBASE_APP_ID=your-app-id
VITE_FIREBASE_VAPID_KEY=your-vapid-key

# Mailgun Config
MAILGUN_DOMAIN=your-mailgun-domain.com
MAILGUN_API_KEY=your-mailgun-api-key
MAILGUN_FROM_EMAIL=DairyFresh <noreply@your-mailgun-domain.com>

# Twilio (WhatsApp Bot)
TWILIO_ACCOUNT_SID=your-account-sid
TWILIO_AUTH_TOKEN=your-auth-token
TWILIO_WHATSAPP_NUMBER=+14155238886

# Device Control
MAX_LOGIN_DEVICES=3
